{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat | A menor distância entre você e seus objetivos</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img src="{{ about.image }}" alt="">
        <h1>{{ about.title1 }}</h1>
        <h2>{{ about.title2 }}</h2>
        <p>{{ about.description }}</p>

        <ul>
            {% for item in about.technologies %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <div class="links links-footer">
            {% for link in about.links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}          
        </div>
    </div>
{% endblock content %}

    
