{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat | A menor distância entre você e seus objetivos</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="">
        <h1>Rocketseat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>

        <ul>
            <li>React</li>
            <li>NodeJS</li>
            <li>React Native</li>
        </ul>

        <div class="links links-footer">
            <a href="https://github.com/rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instragram</a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </div>
{% endblock content %}

    
