{% extends "layout.njk" %}

{% block head %}
    <title>{{ item.title }}</title>
{% endblock head %}

{% block content %}

    <section class="page">
        <div class="card">           
            <div class="page-link">                
                <iframe src="https://rocketseat.com.br/{{ item.id }}" frameborder="0"></iframe>                
            </div>

            <div class="card-title">
                <p>{{ item.description }}</p>
            </div>

            <div class="card-info">
                <p>{{ item.modules }}</p>
                <p class="card-price">{{ item.price }}</p>
            </div>
        </div>
    </section>
{% endblock content %}