{% extends "layout.njk" %}

{% block head %}
    <title>Cursos - Rocketseat | A menor distância entre você e seus objetivos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}

    <section class="cards">

        <div class="card" id="starter">
            <div class="card-logo">
                <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Curso Starter">
            </div>

            <div class="card-title">
                <p>Para quem não programou e ou é programador iniciante e quer dar uma acelerada nos estudos.</p>
            </div>

            <div class="card-info">
                <p>5 módulos</p>
                <p class="card-price">Free</p>
            </div>
        </div>

        <div class="card" id="launchbase">
            <div class="card-logo">
                <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="Curso LaunchBase">
            </div>

            <div class="card-title">
                <p>Para programadores iniciantes e querem entrar na área do jeito certo.</p>
            </div>

            <div class="card-info">
                <p>7 módulos</p>
                <p class="card-price">Pago</p>
            </div>
        </div>

        <div class="card" id="gostack">
            <div class="card-logo">
                <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="Curso GoStack">
            </div>

            <div class="card-title">
                <p>Para quem já trabalha na área a algum tempo e quer dar um up na sua carreira.</p>
            </div>

            <div class="card-info">
                <p>10 módulos</p>
                <p class="card-price">Pago</p>
            </div>
        </div>
    </section>

    <section class="modal-overlay">
        <div class="modal">
            <div class="close-modal">
                <i class="material-icons">close</i>
            </div>

            <div class="maximize-modal">
                <i class="material-icons">maximize</i>
            </div>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    <script src="scripts.js"></script>

{% endblock content %}